.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* padding-top: 0; */
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  float: left;
  font-size: 1.5em;
}

.fa-instagram {
  top: 4px;
  position: absolute;
  /* margin-right: 12px;
  margin-top: -4px;
  max-width: 100%;
  overflow: hidden;
  position: relative; */
  /* background-color: crimson; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
