body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.followModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
  position: absolute;
  z-index: 2;
}

.followsDiv {
  width: 42vw;
  height: 75vh;
  background-color: white;
  margin: 12vh auto auto 27vw;
}

.display {
  display: none;
}

.follow-img {
  width: 20%;
}

.feed-img {
  width: 50%;
  display: block;
  margin: 5% 25%;
}
